<html style="font-size: 16px;" lang="en" class="u-responsive-xs">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Product Line">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="./css/webpage-site2.css" media="screen">
    <link rel="stylesheet" href="./css/webpage-site.css" media="screen">
    <link rel="stylesheet" href="./css/home.css" media="screen">
    <link rel="stylesheet" href="./css/quick support.css" media="screen">
    <script class="u-script" type="text/javascript" src="./js/jquery-3.5.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="./js/website.js" defer=""></script>
    <!--<meta name="generator" content="Nicepage 5.15.1, nicepage.com">-->
    <!-- ฟอนต์ตัวอักษร-->
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
</head>
<!--data-home-page="Home.html" data-home-page-title="Home"  data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed=""-->

<body class="u-body u-xl-mode" data-lang="en">

    <!-- ส่วนของ header-->
    <script src="js/header.js"></script>

    <!--ส่วนของการเเสดงสินค้า-->
    <section class="u-align-center u-clearfix u-image u-section-1" id="sec-bc2e" data-image-width="1080"
        data-image-height="810">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1" style="color: black;">Product Line</h2>
            <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
                <div class="u-repeater u-repeater-1">

                    <div
                        class="u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <a href="Return_Oxygen_Concentration" class="u-align-center" style="color: black;" id="Oxygen_Concentration">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                    data-image-width="400" data-image-height="400" src="./img/(1)concentration.png">
                                <h4 class="u-align-center u-text u-text-2">Oxygen Concentration</h4>
                                <p class="u-align-left u-text u-text-3"> Oxygen Concentration is is a medical device
                                    that separates nitrogen from the air around you so you can breathe up to 95% pure oxygen.</p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <a href="Return_Suction_Machine" class="u-align-center" style="color: black;" id="Suction_Machine">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                data-image-width="400" data-image-height="400" src="./img/(2)suction.png">
                                <h4 class="u-align-center u-text u-text-4">Suction Machine</h4>
                                <p class="u-align-left u-text u-text-5"> Suction Machine used for removing obstructions —
                                    like mucus, saliva, blood, or secretions — from a person's airway.</p>
                            </a>
                        </div>
                    </div>

                    <div id="blood pressure"
                        class="u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <a href="Return_Blood_Pressure" class="u-align-center" style="color: black;" id="Blood_Pressure">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                    data-image-width="400" data-image-height="400"  src="./img/(3)NIBP.png">
                                <h4 class="u-align-center u-text u-text-6">Blood Pressure Monitor</h4>
                                <p class="u-align-left u-text u-text-7"> Blood Pressure Monitor used for measure Systolic,
                                    Distolic, mean blood pressure and pulse rate from patient</p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Surgical_Light" class="u-align-center" style="color: black;" id="Surgical_Light">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                data-image-width="400" data-image-height="400" src="./img/(4)surgicl_light.png">
                                <h4 class=" u-text u-text-8">Surgical Light</h4>
                                <p class="u-align-left u-text u-text-9"> Surgical Lighting is to illuminate the
                                    operative site on and/or within a patient for ideal visualization by OR staff during a
                                    surgical procedure.</p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Surgery_Unit" class="u-align-center" style="color: black;" id="Surgery_Unit">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                     data-image-width="400" data-image-height="400" src="./img/(5)ESU.png">
                                <h4 class="u-align-center u-text u-text-8">Electrical Surgery Unit</h4>
                                <p class="u-align-left u-text u-text-9"> Electrical Surgery Unit is is a surgical device used 
                                 to incise tissue, destroy tissue through desiccation, and control bleeding. </p>
                            </a>   
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Infusion_Pump" class="u-align-center" style="color: black;" id="Infusion_Pump">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                data-image-width="400" data-image-height="400"  src="./img/(6)infusion_pump.png">
                                <h4 class="u-align-center u-text u-text-8">Infusion Pump</h4>
                                <p class="u-align-left u-text u-text-9"> Infusion Pump is  a medical device used to deliver fluids 
                                    into a patient's body in a controlled manner.</p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Patient_Monitor" class="u-align-center" style="color: black;" id="Patient_Monitor">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                data-image-width="400" data-image-height="400"  src="./img/(7)monitor.png">
                                <h4 class="u-align-center u-text u-text-2">Patient Monitor</h4>
                                <p class="u-align-left u-text u-text-3"> Patient monitor is a patient monitoring system
                                    that&nbsp;is used to measure various physiological parameters of a patient in hospital.
                                </p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Vascular_Doppler" class="u-align-center" style="color: black;" id="Vascular_Doppler">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                data-image-width="400" data-image-height="400"  src="./img/(8)Doppler.png">
                                <h4 class="u-align-center u-text u-text-8">Vascular Doppler</h4>
                                <p class="u-align-left u-text u-text-9"> Vascular Doppler is a medical device used to measure 
                                    the amount of blood flow through your arteries and veins.</p>
                            </a>
                        </div>
                    </div>

                    <div
                        class="u-align-left u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <a href="Return_Laryngoscope" class="u-align-center" style="color: black;" id="Laryngoscope">
                                <img class="u-expanded-width u-image u-image-default u-image-1" alt=""
                                    data-image-width="400" data-image-height="400" src="./img/(9)laryncoscope.png">
                                <h4 class="u-align-center u-text u-text-8">Laryngoscope</h4>
                                <p class="u-align-left u-text u-text-9"> Laryngoscope is  a procedure healthcare providers use to 
                                    examine your larynx (voice box).</p>
                            </a>
                        </div>
                    </div>
                </div>


                <a class="u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1 u-hidden"
                    href="#" role="button">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.847 451.847">
                            <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
                    href="#" role="button">
                    <span aria-hidden="true">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                    <span class="sr-only">
                        <svg viewBox="0 0 451.846 451.847">
                            <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>

    <!-- ส่วนของ section 2 Quick Support-->
    <script src="js/quick-support.js"></script>

    <!--<script>
        const buttons = document.getElementsByTagName("a");
        const buttonPressed = e => {
            console.log(e.target.id);  // Get ID of Clicked Element
        }
        for (let button of buttons) {
            button.addEventListener("click", buttonPressed);
        }

        if (e.target.id == "surgical"){
            <a href="borrow-return"></a>
        }
    </script>-->


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>