.u-section-1 {
    min-height: 770px;
    background-image: url("../img/Background.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 770px;
    background-image: linear-gradient(#332929, #db545a);
  }

  .u-section-1 .u-layout-cell-1-return {
    min-height: 770px;
    background-image: linear-gradient(#332929, #2cccc4);
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 39px;
  }
  
  .u-section-1 .u-image-1 {
    width: 424px;
    height: 505px;
    margin: 65px 32px 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 770px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 37px 0 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 515px;
    --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23d93a0d' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    width: 598px;
    margin: 23px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin-left: 0;
    font-weight: 700;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
    margin-right: auto;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
    margin-right: auto;
  }
  
  .u-section-1 .u-form-group-4 {
    --progress: 0%;
    margin-left: 0;
    margin-right: auto;
  }
  
  .u-section-1 .u-label-1 {
    font-weight: 700;
  }
  
  .u-section-1 .u-input-1 {
    height: 40px;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
    margin-right: auto;
  }
  
  .u-section-1 .u-label-2 {
    font-weight: 700;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-left: 0;
    margin-right: auto;
  }
  
  .u-section-1 .u-label-3 {
    font-weight: 700;
  }
  
  .u-section-1 .u-form-group-7 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 645px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      background-position: 50% 50%;
      min-height: 635px;
    }
  
    .u-section-1 .u-image-1 {
      width: 313px;
      height: 373px;
      margin-right: 11px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 635px;
    }
  
    .u-section-1 .u-form-1 {
      width: 428px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 508px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 486px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-image-1 {
      width: 235px;
      height: 330px;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-form-1 {
      width: 360px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 966px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 763px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 667px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 480px;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  }
