.u-section-2 .u-sheet-1 {
    min-height: 572px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 459px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    background-image: url("../img/contact.png");
    background-position: 50% 50%;
    margin: 0 auto 0 35px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 572px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin: 30px auto 0 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 23px auto 0 0;
  }
  
  .u-section-2 .u-group-elements-1 {
    width: 190px;
    min-height: 45px;
    height: auto;
    margin: 30px auto 0 23px;
  }
  
  .u-section-2 .u-icon-1 {
    width: 45px;
    height: 45px;
    margin: 0 145px 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: -33px 0 0 auto;
  }
  
  .u-section-2 .u-group-elements-2 {
    width: 299px;
    min-height: 40px;
    height: auto;
    margin: 23px auto 0 23px;
  }
  
  .u-section-2 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin: 0 259px 0 0;
    padding: 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: -30px 0 0 auto;
  }
  
  .u-section-2 .u-icon-3 {
    width: 52px;
    height: 52px;
    margin: 30px auto 0 13px;
    padding: 0;
  }
  
  .u-section-2 .u-map-1 {
    width: 552px;
    height: 193px;
    margin: -52px 0 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 656px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 378px;
    }
  
    .u-section-2 .u-image-1 {
      margin-left: 0;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 472px;
    }
  
    .u-section-2 .u-map-1 {
      width: 520px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 568px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
 
    .u-section-2 .u-image-1 {
      width: 216px;
      height: 216px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-map-1 {
      width: 384px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 845px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 635px;
    }
  
    .u-section-2 .u-map-1 {
      width: 320px;
    }
}}