.u-section-1 {
    background-image: url("https://assets.nicepagecdn.com/a256d768/6018930/images/default-image.jpg");
    background-position: 50% 50%;
    min-height: 840px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 770px;
    background-image: linear-gradient(#332929, #db545a);
  }

  .u-section-1 .u-layout-cell-1-return {
    min-height: 770px;
    background-image: linear-gradient(#293332, #2cccc4);
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 39px 30px 15px;
  }
  
  .u-section-1 .u-image-1 {
    height: 505px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 840px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 62px 0 0;
  }
  
  .u-section-1 .u-image-2 {
    width: 193px;
    height: 188px;
    margin: 149px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin: 106px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 19px 0 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 545px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      background-position: 50% 50%;
      min-height: 693px;
    }
  
    .u-section-1 .u-image-1 {
      height: 373px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 693px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 383px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 531px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-right: 30px;
    }
  
    .u-section-1 .u-image-1 {
      height: 330px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 908px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 956px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 554px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 602px;
    }}